:root {
    --primario: #fff;
    --secundario: #000;
    --secundatio2: #646464;
    --WhatsApp: #25D366;
    --clr: #7808d0;
}

.ui-switch {
    --switch-bg: rgb(135, 150, 165);
    --switch-width: 48px;
    --switch-height: 20px;
    --circle-diameter: 32px;
    --circle-bg: rgb(232, 89, 15);
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}